fastapi
uvicorn
pydantic
pydantic-settings
motor
python-multipart
pymongo
python-dotenv
polygon-api-client
finnhub-python
newsapi-python
httpx
langchain
langchain-core
langchain-openai
langchain-text-splitters
redis
celery